<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Must-visit restaurants around the world">
  <title>eatery!</title>
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="icons/icon.png">
</head>
<body>
<a href="#main-content" class="skip-content">Skip to Content</a>
<app-bar></app-bar>
<header><hero-jumbotron></hero-jumbotron></header>
<main id="main-content"></main>
<footer>
  <p>Copyright &copy; 2020 - eatery!</p>
</footer>
</body>
</html>
